.signup{
    background-image: url("https://g.foolcdn.com/editorial/images/540597/gettyimages-865596822.jpg");
    height: 800px;
   width: 100%;
    background-size: cover ;
   padding-top: 130px;
    margin: auto;
}
.form{
 
  background-color: rgba(0, 0, 0, 0.089);
  padding: 20px 0px;
  width: 40%;
  margin:auto;
  height: 600px;
box-shadow: 0 0 40px black;

}
input{
    background-color: transparent !important;
   
}
.form input{
  box-shadow: 0 0 20px black;
}
form button{
  background-color: transparent !important;
   font-size: 20px !important;
   transition:all 0.5s;

   border: none !important;
   box-shadow: 0 0 20px black;
   color: black !important;
   font-weight: 800 !important;

}
button{
  transition:all 0.5s;
}
form button:hover{
  color: white !important;
  background-color: transparent !important;
  box-shadow: 0 0 20px black;
  transform: translate(50%);
 

}
